# typescript files
build
tsconfig.*tsbuildinfo

# packages
packages/*/build
packages/*/package-lock.json
packages/*/yarn.lock

# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.vscode
.idea
.DS_Store
